//colors
$backgroundColor: #595555;

//font
$fontVars:(
"size": 1.6rem,
"font": 'Roboto', 
"color": #000000
);

//tasks
$tasksVars: (
    "background": #DDDDDD,
);

$labelvars:(
    "blue" : #2f86e2, 
    "green" :#0da215,
    "gold" :#b08a00,
    "red": #b60808,
)